* {
    box-sizing: border-box;
  }
body{
    background-color: blue;
    background-image:url("https://www.transparenttextures.com/patterns/white-diamond-dark.png");
}
.navContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-content: center;
}
.nav{
    flex-basis: auto;
    
}
.navItems{
    margin-right: 4px;
    padding: 5px;
    text-decoration: none;
    color: white;
    margin-top: 2rem;
    margin-left: 8px;
}
.navMenu{
    margin-top: 2rem;
    color: white;
    background-color: black;
    border-radius: 5px ;
    padding: 1px;
}
#navMenu{
    border: none;
    background: none;
}
.border-items{
    border: 1px solid white;
}
#download-btn{
    margin-left: 5rem;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px;
}
.resurface-logo{
    height: 3rem;
    width: 3rem;
    margin-right: 25rem;
    margin-top: 2rem;
    
}
.navrenders {
    margin-top: 100px;
}

.menuItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px solid white;
    margin-top: 5px;
    float: right;
    margin-right: 5rem;
    padding: 5px;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
    
}
#navSection{
    margin-top: 2rem;
}

@media (max-width:768px){
    #navSection{
        display: none;
    }

}
@media (min-width:1024px){
    #navMenu{
        display: none;
    }
    .menuItems{
        display: none;
    }

}